.certbot-page {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;

  .certbot-page-content {
    height: 400px;
    width: 750px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 25px 50px var(--black20-login);
  }

  .title-item {
    height: 56px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    img {
      height: 40px;
      margin-right: 20px;
    }

    .title-item-label {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      color: var(--black45);
      font-weight: 600;
    }
  }

  .success-result-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange80);
    font-size: 14px;

    .success-count {
      color: var(--orange);
      font-weight: bold;
      margin: 0 6px;
    }
  }

  .line-item {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .line-item-label {
      width: 200px;
      color: var(--black85);
      text-align: right;
      margin-right: 12px;
    }

    .line-item-content {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-left: 12px;

      input {
        width: 300px;
        margin-right: 12px;
        border-radius: 2px;
      }

      button {
        margin: 0 12px;
        border-radius: 2px;
      }

      .text-content {
        width: 200px;
        color: var(--black85);
      }
    }
  }

  .anticon-info-circle {
    color: var(--black45);
    cursor: pointer;

    &:hover {
      color: var(--black25);
    }
  }
}

.apply-certbot-message {
  height: 230px;

  .ant-message-notice-content,
  .ant-message-custom-content {
    height: 230px !important;
    font-size: 14px;
  }

  .apply-certbot-message-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    font-size: 15px !important;

    span {
      line-height: 30px;
    }

    .line-start {
      margin-right: 8px;

      &.long-line-start {
        margin-left: 86px;
      }
    }

    .anticon-copy {
      cursor: pointer;
      color: var(--black45) !important;
      margin: 0 12px;
      font-size: 14px;

      &:hover {
        color: var(--black25) !important;
      }
    }

    .anticon-close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 15px !important;
      cursor: pointer;
    }
  }
}

.down-certbot-message {
  .down-certbot-message-content {
    .clickable {
      cursor: pointer;
      color: var(--brand) !important;
    }

    .anticon-copy {
      cursor: pointer;
      color: var(--black45) !important;
      margin: 0 12px;
      font-size: 14px;

      &:hover {
        color: var(--black25) !important;
      }
    }

    .anticon-close {
      margin-left: 20px;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
