.ant-message {
  .ant-message-notice .ant-message-notice-content {
    border-radius: 2px;
    background-color: #ffffff;
  }

  .ant-message-notice-success,
  .ant-message-notice-error,
  .ant-message-notice-warning {
    .ant-message-notice-content {
      border-radius: 2px;
      height: 36px;
      padding: 0px 20px 0 16px;
      background-color: var(--white) !important;
      box-shadow: 0 6px 16px 0 var(--black10), 0 3px 6px -4px var(--black10),
        0 9px 28px 8px var(--black05);
    }

    .ant-message-success,
    .ant-message-error,
    .ant-message-warning {
      display: flex;
      align-items: center;
      height: 36px;

      .anticon-check-circle,
      .anticon-close-circle,
      .anticon-exclamation-circle {
        font-size: 14px;
      }

      span {
        color: var(--black85);
        font-size: 12px;
      }
    }
  }
}

.ant-modal-root {
  .ant-modal-content {
    border-radius: 2px;

    .ant-modal-footer {
      button {
        border-radius: 2px;
        font-size: 12px;
        height: 28px;
        // width: 64px;
      }
    }
  }
}

.ant-popover {
  .ant-popover-content .ant-popover-inner {
    border-radius: 2px;
  }

  &.ant-popconfirm {
    .ant-popconfirm-message {
      color: var(--black85);
    }

    .ant-popconfirm-buttons {
      button {
        height: 22px;
        border-radius: 2px;
        font-size: 12px;
      }
    }
  }
}

// 消息发送popconfirm
.ant-popover.send-message-popconfirm {
  .ant-popover-inner {
    padding: 8px 16px;

    .ant-popconfirm-inner-content {
      display: flex;
      align-items: center;

      .ant-popconfirm-message {
        margin-bottom: 0;

        .ant-popconfirm-message-icon {
          margin-top: 3px;

          span {
            color: var(--brand60);
          }
        }
      }

      .ant-popconfirm-message-text {
        display: flex;
        align-items: center;

        .ant-popconfirm-title {
          color: var(--black45);
          margin-right: 8px;
          font-size: 12px;
          font-weight: 400;
        }

        .ant-select,
        .ant-input {
          width: 220px;
        }

        .ant-popconfirm-description {
          margin-top: 0;
        }
      }

      .ant-popconfirm-buttons {
        display: flex;
        align-items: center;
        justify-content: center;

        .send-message-icon-background {
          box-shadow: none;
          border: none;
          width: 20px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 100% 100%;
          background-color: transparent;
        }
      }
    }
  }
}

.ant-select-dropdown {
  .ant-select-item-option-selected {
    background-color: var(--selected-background) !important;
  }
}

.ant-input-number {
  border-radius: 2px;
}
